.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.nav {
    height: 50px;
    display: grid;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
}

.navlist {
    display: flex;
    gap: 20px;
    list-style: none;
}

.navlist a {
    color: black;
    text-decoration: none;
}

.navlist a.active {
    font-weight: bold;
}

.logoHeader {
    height:40px;
}

.logoHeader img {
    height: 100%;
    width: 100%;
}