:root {
  --green: #5eaa19;
  --light-color: #FFF;
  --light-green: #DFEFDB;
  --extra-light-green: #f1f8ef;
  --text-primary-color: #304030;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--light-color);
  color: var(--text-primary-color);
  transition: background-color 0.3s ease, color 0.3s ease;
  max-width: 1000px;
  margin: 0 auto;
  font-family: sans-serif;
  }

a {
  text-decoration: none;
  color: inherit;

}

main{
  margin: 25px auto;
  font-size: 1.1rem;
  color: var(--text-primary-color);
}



h1,
h2,
h3{
  text-align: center;  
}

.linkDetailHP{
    background-color: var(--light-green);
    color: var(--green);
    font-weight: bold;
    margin: 0 auto;
    padding: 5px;
    text-align: center;
    font-weight: bold;
    font-size: 0.7em;
    bottom: 0;
    border-radius: 5px;
}

.btnDelete{
    position: absolute;
    right: 0;
    bottom: 15px;
    cursor: pointer;
    width: 65px;
    color: var(--green);
    font-weight: bold;
    height: 100%;
    font-size: 0.7em;
    height: 20px;
    border: 1px solid var(--green);
    border-radius: 5px;
}

.btnDelete span{
  position: absolute;
  top: 2px;
  bottom: 0;
  right: 0;
  left: 0;
}

button{
  cursor: pointer;
}