.about-header{
    text-align: justify;
    padding: 20px;
    background-color: var(--light-green);
}

.about-header h2{
    text-align: center;
}

.about-header p {
    margin-top: 20px;
}

.feature-card{
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 20px 20px;
    text-align: left;
    border: 1px solid var(--green);
    border-radius: 10px;
    padding: 10px;
}

.feature-card:nth-child(2){
    text-align: right;
}

.feature-card p{
    margin-top: 10px;
    text-align: justify;
}

.feature-card form{
    text-align: center;
    margin: 10px;
}

.feature-card input{
    width: 70%;
    border: 1px solid var(--green);
    border-radius: 5px;
    padding: 3px;
}

.feature-card button{
    width: 25%;
    cursor: pointer;
    background-color: var(--light-green);
    border: 1px solid var(--green);
    border-radius: 5px;
    padding: 3px;
    margin-left: 5px;
}

.about-icon svg{
    height: 40px;
    width: 40px;
    padding: 10px;
    background-color: var(--light-green);
    border-radius: 50%;
}

.daily-food{
    border-top: 1px solid var(--green);
    border-bottom: 1px solid var(--green);
    margin: 30px auto;
    padding: 30px 15px;
}

.main-display-dayly {
    aspect-ratio: 1/1.2;
}

.daily-food h2{
    text-align: justify;
}

.daily-food img{
    object-fit: fill;
    width: 100%;
    aspect-ratio: 1/0.7;
    border-radius: 10px;
}

.daily-food-cards{
    container-type: inline-size;
}

.daily-card{
    width: 100%;
    padding: 10px;
    border: 1px solid var(--green);
    border-radius: 10px;
    margin: 2px;
    cursor: pointer;
}

.truncate-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  width: 100%;
  margin-bottom: 8px;
}

.nutrients-line {
  display: flex;
  justify-content: space-between;
  font-size: 0.85rem;
  margin: 10px;
  margin-top: 10px;
  padding-top: 8px;
}

.nutrients-line span {
  margin-right: 5px;
}

.daily-grid{
    display: grid;
    height: 450px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50% 50%;
    gap: 5%;
    aspect-ratio: 1/1.4;
}

.small-card{
    border-radius: 10px;
}

.shareSocialDish{
    margin-top: 15px;
    padding-top: 15px;
    border-top: 10px solid var(--light-green);
    text-align: center;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media (min-width: 480px) {
    .daily-food-cards{
        display: grid;
        grid-template-columns: 60% 38%;
        gap: 2%;
    }

    .daily-card{
        font-size: 2.15cqw;
    }
    
    .main-display-dayly {
        height: 99.5%;
    aspect-ratio: 1/1;
    }

    .daily-grid{
    height: inherit;
    aspect-ratio: 1/1.4;
    }

}